<nav class="navbar">
  <div class="logo">
    <!-- Substitua "logo.png" pelo caminho da sua logo -->
    <img src="/images/logo.png" alt="Logo">
  </div>
  <div class="user-profile">
    <% if (user) { %>
      <div class="user-info">
        <img src="<%= avatarUrl %>" alt="Foto do usuário">
        <span><%= username %></span>
      </div>
      <form action="/logout" method="post">
        <button type="submit">Deslogar</button>
      </form>
    <% } %>
  </div>
</nav>
