<!DOCTYPE html>
<html>
<head>
  <title>Enviar Aplicação - Hospedagem de Aplicativos</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
  <h1>Enviar Aplicação</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="app" required>
    <input type="submit" value="Enviar">
  </form>
  <p><a href="/">Voltar</a></p>
</body>
</html>
